:root {
    --input-width: 600px;
}

@media (max-width: 650px) {
    :root {
        --input-width: 90vw;
    }
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    align-items: center;
}

img {
    width: 270px;
    height: 110px;
}

#input-container{
    display: flex;
    align-items: center;
    width: var(--input-width, 600px);
    height: 45px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 40px;
}

input {
    width: 80%;
    height: 34px;
    border: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#search-icon {
    color: #9aa0a6;
    margin-right: 10px;
    margin-left: 20px;
}

#input-container:hover {
    box-shadow: 0px 1px 4px 1px rgb(221, 221, 221);
}

input:focus-visible {
    outline: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 2px;
}

header a {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 13px;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

header img {
    margin-right: 10px;
}

header span {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(128, 124, 124);
}

header div:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

footer {
    align-self: stretch;
    margin-top: auto;
    display: flex;
    background-color: #f2f2f2;
    height: 10%;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#footer-left {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

#footer-left a,
#footer-right a {
    color: #70757a;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

#footer-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}

header a:hover,
#footer-left a:hover,
#footer-right a:hover {
    text-decoration: underline;
}

.buttonContainer {
    margin-top: 25px;
}

button {
    color: #70757a;
    background: #f8f9fa;
    border-radius: 3px;
    width: 150px;
    height: 35px;
    border: none;
}

button:hover {
    border: 1px solid #dadce0;
}

.account-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.apps-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}